ctlearn/_version.py
output_dir2/
*.swp
*.swo
*.gemini
*.index
*.meta
*.out
*.ckpt
*.tar.gz
*.pbtxt
*.png
*.csv
*~
*.log
.vscode/

*.h5

output_dir2/
output_dir/
.vscode/
# Compiled Python files
__pycache__/
*.py[cod]
.DS_Store
*.egg-info/
dist
.pytest_cache/*.log
# Sphinx documentation
docs/build/

# Default pytorch output
run/
test/
*.se2
*.jar
*.puml
mc_tjark/
calibration/
test_local_cristian/
