ctlearn/_version.py

*.swp
*.swo
*.gemini
*.index
*.meta
*.out
*.ckpt
*.tar.gz
*.pbtxt
*.png
*.csv
*~

# Compiled Python files
__pycache__/
*.py[cod]
.DS_Store
*.egg-info/
dist

# Sphinx documentation
docs/build/
