*.swp
*.swo
*.gemini
*.index
*.meta
*.out
*.ckpt
*.tar.gz
*.pbtxt
*.png
*.csv
*~

# Compiled Python files
__pycache__/
*.py[cod]
.DS_Store
ctlearn/.DS_Store
ctlearn.egg-info/

# Sphinx documentation
docs/build/
