# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64 and osx-64
python=3.6.5
numpy
opencv3
pytables
tensorflow=1.8.0
pillow
scipy
pyyaml
