name: Release CD

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  pypi-publish:
    name: Publish release to PyPI
    environment:
      name: pypi
      url: https://pypi.org/project/ctlearn/
    permissions:
      id-token: write
      contents: write
      deployments: write
      statuses: write
      actions: write
      checks: read
    strategy:
      matrix:
        os: [ubuntu-22.04]
        pyv: ['3.12']
      max-parallel: 5
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up micromamba (Python ${{ matrix.pyv }})
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: ctlearn
          create-args: >-
            python=${{ matrix.pyv }}
            pip
          cache-environment: true

      - name: Build package
        shell: micromamba-shell {0}
        run: |
          python --version
          pip install -U build
          python -m build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1